**/node_modules/
**/.env

# Expo app
mobile-app/expo/
mobile-app/dist/
mobile-app/npm-debug.*
mobile-app/*.jks
mobile-app/*.p8
mobile-app/*.p12
mobile-app/*.key
mobile-app/*.mobileprovision
mobile-app/*.orig.*
mobile-app/web-build/

# Expo app macOS
mobile-app/.DS_Store
mobile-app/.expo/
mobile-app/package-lock.json
mobile-app/yarn.lock

# funds-program
funds-program/dist/
funds-program/target/
funds-program/.idea/
funds-program/.DS_Store
funds-program/*.log
funds-program/*.tsbuildinfo
funds-program/anchor.lock
funds-program/program_keypair.json