.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
    width: 100%;
    min-height: 47.19px;
}

.kycInput {
    background: var(--color-background);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--placeholder-glass-stroke);
}