@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background: var(--color-background);
  color: var(--color-text);
  font-weight: 200;
  font-size: var(--text-size-p);
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--color-link-hover);
}

.no-wrap {
  white-space: nowrap;
}

.light-text {
  color: var(--color-text-light);
}

.error-text {
  color: var(--color-error);
}

.large-text {
  font-size: var(--text-size-large);
}

.small-text {
  font-size: var(--text-size-small);
}

.tiny-text {
  font-size: var(--text-size-tiny);
}

.glass-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 15px;
  padding: 14px 16px;
  background: var(--gradient-glass-stroke);

  font-size: var(--text-size-p);
  border-radius: 10px;
  background-image: var(--gradient-glass-stroke);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.glass-button:hover {
  background-image: var(--overlay), var(--gradient-glass-stroke);
}

.glass-button:active {
  background-image: var(--overlay), var(--overlay), var(--gradient-glass-stroke);
}

.glass-button.ghost {
  background: transparent;
  border: 1.5px solid var(--placeholder-glass-stroke);
}

.glass-button.ghost:hover {
  background: var(--overlay);
}

.glass-button.ghost:active {
  background: var(--overlay), var(--overlay);
}

.glass-button.ghost.error {
  border: 1.5px solid var(--placeholder-glass-stroke-error);
}

.glass {
  position: relative;

  /* Black Shadow */
  -webkit-box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.3);

  /* Primary Shadow */
  -webkit-box-shadow: -10px 10px 24px 0px rgba(41, 135, 200, 0.12);
  -moz-box-shadow: -10px 10px 24px 0px rgba(41, 135, 200, 0.12);
  box-shadow: -10px 10px 24px 0px rgba(41, 135, 200, 0.12);

  /* Background */
  background-image: var(--glass-background);
  background-size: 17% auto, auto, auto, auto;
  backdrop-filter: blur(22px);

  /* Border */
  border: var(--glass-border);
}

.two-col-grid {
  margin: 0px auto;
  padding: 0px 20px;
  height: 100%;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-itmes: center;
  gap: 50px;
}

.two-col-grid > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

:root {
  --overlay-color: rgba(255, 255, 255, 0.03);
  --overlay: linear-gradient(var(--overlay-color), var(--overlay-color));

  --gradient-glass-stroke: linear-gradient(65deg, rgba(41, 135, 200, 0.02) 0%, rgba(41, 135, 200, 0.22) 100%),
    linear-gradient(65deg, rgba(188, 188, 188, 0.12) 0%, rgba(235, 235, 235, 0.25) 100%);

  --placeholder-glass-stroke: #2b3a4a;
  --placeholder-glass-stroke-accent: #5a355a;
  --placeholder-glass-stroke-error: #83484e;
  --placeholder-glass-icon-error: #695563;

  --glass-border: 2px solid var(--placeholder-glass-stroke); /* TODO: Make gradient */
  --glass-border-error: 1.5px solid var(--placeholder-glass-stroke-error);
  --glass-border-popup: 1.5px solid var(--placeholder-glass-stroke);
  --glass-background: url("/noise.png"),
    radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(#ffffff03, #ffffff03), linear-gradient(#0b111d99, #0b111d99), linear-gradient(#060910, #060910); /* TODO - Remove this and get background blur or fallback working on mobile */

  --background-linear-gradient: linear-gradient(var(--color-background), var(--color-background));

  --color-background: #0b111d;
  --color-text: #ffffff;
  --color-text-light: #ffffffa5;
  --color-error: #ff8080;
  --color-link-hover: #d8f3ff;

  --logo-width: 360px;
  --logo-margin: 80px;
  --modal-width: 680px;
  --modal-content-width: 75%;
  --input-field-height: 80px;
  --address-copy-button-height: 57px;
  --popup-position-bottom: 50px;
  --popup-position-left: 100px;

  --text-size-h1-base: 50.16px;
  --text-size-h2-base: 41.8px;
  --text-size-h3-base: 29.03px;
  --text-size-h4-base: 24.19px;
  --text-size-large-base: 20.16px;
  --text-size-p-base: 16.8px;
  --text-size-small-base: 14px;
  --text-size-tiny-base: 12px;

  --text-size-h1: var(--text-size-h1-base);
  --text-size-h2: var(--text-size-h2-base);
  --text-size-h3: var(--text-size-h3-base);
  --text-size-h4: var(--text-size-h4-base);
  --text-size-large: var(--text-size-large-base);
  --text-size-p: var(--text-size-p-base);
  --text-size-small: var(--text-size-small-base);
  --text-size-tiny: var(--text-size-tiny-base);
}

@media only screen and (max-width: 800px) {
  :root {
    --logo-width: 288px;
    --logo-margin: 45px;
    --modal-width: 90%;
    --modal-content-width: 80%;

    --text-size-h1: calc(0.9 * var(--text-size-h1-base));
    --text-size-h2: calc(0.9 * var(--text-size-h2-base));
    --text-size-h3: calc(0.9 * var(--text-size-h3-base));
    --text-size-h4: calc(0.9 * var(--text-size-h4-base));
    --text-size-large: calc(0.9 * var(--text-size-large-base));
    --text-size-p: calc(0.9 * var(--text-size-p-base));
    --text-size-small: calc(0.9 * var(--text-size-small-base));
    --text-size-tiny: calc(0.9 * var(--text-size-tiny-base));
  }

  .two-col-grid {
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 80px;
    padding-bottom: 100px;
    max-width: 90%;
    gap: 80px;
  }

  .login-grid {
    height: 100%;
    margin-top: 0px;
    padding: 80px 0px;
    gap: 0px;
  }

  .dashboard-wrapper {
    max-width: 80%;
  }
}

@media only screen and (max-width: 568px) {
  :root {
    --logo-width: 245px;
    --logo-margin: 40px;
    --modal-content-width: 90%;
    --input-field-height: 75px;
    --address-copy-button-height: 53.4px;

    --text-size-h1: calc(0.8 * var(--text-size-h1-base));
    --text-size-h2: calc(0.8 * var(--text-size-h2-base));
    --text-size-h3: calc(0.8 * var(--text-size-h3-base));
    --text-size-h4: calc(0.8 * var(--text-size-h4-base));
    --text-size-large: calc(0.8 * var(--text-size-large-base));
    --text-size-p: calc(0.8 * var(--text-size-p-base));
    --text-size-small: calc(0.8 * var(--text-size-small-base));
    --text-size-tiny: calc(0.8 * var(--text-size-tiny-base));
  }

  .two-col-grid {
    gap: 60px;
  }

  .dashboard-wrapper {
    max-width: 90%;
  }
}

@media only screen and (max-width: 428px) {
  :root {
    --logo-width: 208px;
    --logo-margin: 30px;
    --input-field-height: 65px;
    --address-copy-button-height: 46.3px;
  }

  .two-col-grid {
    gap: 40px;
  }

  .dashboard-wrapper {
    max-width: 100%;
  }
}
