.subheading {
    font-size: var(--text-size-h3);
    font-weight: 100;
    text-align: center;
}

.title {
    gap: 40px;
}

.serviceAnnouncement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.serviceAnnouncement h2 {
    font-size: var(--text-size-h4);
    margin-bottom: 20px;
}

.serviceAnnouncement p {
    color: var(--color-text-light);
}

.authPadding {
    margin-top: 50px;
}

.authPadding h2 {
    color: var(--color-text-error);
}
