.contentWrapper {
    max-width: var(--modal-content-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    font-size: var(--text-size-h2);
    margin-bottom: 45px;
}

.inputSection {
    width: 100%;
    margin-bottom: 16px;
}

.inputFieldWrapper {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    min-height: var(--input-field-height);
}

.inputField {
    width: 100%;
    background: var(--color-background);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);
    font-size: var(--text-size-h4);
}

.infoSection {
    width: var(--modal-content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.infoValue {
    dispaly: flex;
    align-items: baseline;
}

.infoBalances {
    display: flex;
    align-items: center;
    gap: 10px;
}

.balanceButton {
    padding: 8px 10px;
    font-size: var(--text-size-small);
}

.errorText {
    margin-top: 10px;
    color: var(--color-error);
}

.buttons {
    display: flex;
    width: var(--modal-content-width);
    gap: 25px;
}

.mainButton {
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
}

@media only screen and (max-width: 428px) {
    .buttons {
        flex-direction: column;
    }
}
