.heading {
    font-size: var(--text-size-h2);
    margin-bottom: 55px;
}

.inputSection {
    width: var(--modal-content-width);
    margin-bottom: 55px;
}

.inputFieldWrapper {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    min-height: var(--input-field-height);
}

.maxButton {
    border: 1px solid var(--placeholder-glass-stroke);
    background: var(--color-background);
    border-radius: 14px;
    padding: 15px;
}

.inputField {
    width: 100%;
    background: var(--color-background);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);
    font-size: var(--text-size-h4);
}

.buttons {
    display: flex;
    width: var(--modal-content-width);
    gap: 25px;
}

@media only screen and (max-width: 428px) {
    .buttons {
        flex-direction: column;
    }
}

.modalButton {
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
}

.error {
    margin-top: 10px;
    color: var(--color-error);
}

.contentWrapper {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offrampTitle {
    font-size: var(--text-size-h3);
    margin-bottom: 20px;
}

.offrampRedirect {
    font-size: var(--text-size-small);
    color: var(--color-text-light);
    margin-bottom: 50px;
}

.offrampRedirect a {
    text-decoration: underline;
}

.offrampBody {
    margin-bottom: 50px;
}

.errorHeading {
    color: var(--color-error);
    margin-bottom: 30px;
}

.errorButton {
    border-color: var(--placeholder-glass-icon-error);
}

.errorBodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-bottom: 50px;
}

.errorBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
