

.offrampTitle {
    font-size: var(--text-size-h3);
    margin-bottom: 20px;
}

.offrampRedirect {
    font-size: var(--text-size-small);
    color: var(--color-text-light);
    margin-bottom: 50px;
}

.offrampRedirect a {
    text-decoration: underline;
}

.offrampBody {
    margin-bottom: 50px;
}

.errorHeading {
    color: var(--color-error);
    margin-bottom: 30px;
}

.errorButton {
    border-color: var(--placeholder-glass-icon-error);
}

.errorBodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-bottom: 50px;
}

.errorBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}




