@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B111D;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
