/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/dashboard/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_mainButton__kDJ_V {
    width: 160px;
    height: 65px;
    font-size: 24px;
}

.page_buttons__eCA_1 {
    display: flex;
    gap: 50px;
}

.page_navBar__RMC1K {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    margin-bottom: 100px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/balance/Balance.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Balance_balanceWrapper__jMkMY {
    height: 280px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Balance_heading__kd2jG {
    font-size: 22px;
}

.Balance_subheading__WWR_M {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.Balance_balancesRow__igqUi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 140px;
         column-gap: 140px;
}

.Balance_balanceCell__J9qCh {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Balance_mainBalance__wAhks {
    font-size: 60px;
    margin-bottom: -5px;
}

.Balance_subBalance__e3Bjs {
    color: var(--color-text-light);
    font-size: 22px;
}

.Balance_viewButton__gPqjx {
    padding: 12px 22px;
    font-size: 14px;
    margin-top: auto; 
    min-width: 150px;
}

.Balance_dailyChange__QVf7j {
    color: var(--color-text-light);
    font-size: 16px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/modal/Modal.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Modal_modalWrapper__4gEXj {
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100VH;
    width: 100VW;
    background: rgb(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal_modal__pU8cJ {
    width: 50%;
    padding: 80px 0px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Modal_heading__3oRJ0 {
    font-size: 38px;
    margin-bottom: 55px;
}

.Modal_inputFieldWrapper__xaKkA {
    width: 60%;
    margin-bottom: 55px;
}

.Modal_inputField__OmY74 {
    margin-top: 8px;
    width: 100%;
    min-height: 80px;
    background: var(--color-background);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);
    font-size: 22px;
}

.Modal_buttons__7Flkv {
    display: flex;
    width: 60%;
    gap: 25px;
}

.Modal_modalButton__px2nG {
    flex-grow: 1;
    padding: 15px 30px;
    border-radius: 15px;
}
