.popup {
  position: fixed;
  z-index: 9997;
  width: 235px;
  min-height: 100px;
  bottom: 50px;
  left: 100px;

  padding: 17px 20px;
  background-image: var(--glass-background);
  background-size: 17% auto, auto, auto, auto;
  backdrop-filter: blur(22px);
  border: var(--glass-border-popup);
  border-radius: 18px;
}

@media only screen and (max-width: 800px) {
  .popup {
    bottom: 5%;
    left: 10%;
  }
}

@media only screen and (max-width: 568px) {
  .popup {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.popup.error {
  border: var(--glass-border-error);
  z-index: 9998;
}

button.popup:hover {
  background-image: var(--overlay), var(--glass-background) !important;
}

button.popup:active {
  background-image: var(--overlay), var(--overlay), var(--glass-background) !important;
}

.message {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 25px;
}

.message p,
.message a {
  color: var(--color-text-light);
  font-size: var(--text-size-tiny);
  text-align: left;
}

.message a:hover {
  color: var(--color-link-hover);
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.headingError {
  color: var(--color-error);
}

.headingDetails {
  color: var(--color-text-light);
  font-size: var(--text-size-small);
  text-decoration: underline;
}
