.balanceWrapper {
    width: 100%;
    margin-bottom: 70px;
}

.subBalance {
    color: var(--color-text-light);
    font-size: 26px;
}

.fiatAmount {
    font-size: 60px;
    margin-right: 18px;
}

.dailyChange {
    color: var(--color-text-light);
    font-size: 22px;
}
