.healthBar {
    width: 100%;
    height: 4px;
    background-color: var(--bgColor);
}

.healthBar::-webkit-progress-bar {
    border-radius: 1px;
    background-color: var(--bgColor);
}

.healthBar::-webkit-progress-value {
    border-radius: 1px;
    background-color: var(--healthColor);
    box-shadow: 0 0 7px var(--glowColor);
}

.healthBar::-moz-progress-bar {
    border-radius: 1px;
    background-color: var(--healthColor);
    box-shadow: 0 0 7px var(--glowColor);
}