.modalWrapper {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    min-height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWrapper::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.35);
    z-index: 998;
}

.errorModalWrapper {
    z-index: 9999;
}

.modal {
    width: var(--modal-width);
    padding: 80px 0px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.repayInnerModal {
    width: 100%;
    padding: 60px 0px 80px 0px;
    margin-bottom: -80px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 74VH;
}

.repaySelectButtonRow {
    width: 100%;
    display: flex;
    margin-top: -80px;
    margin-bottom: -24px;
}

.repaySelectButtonInactive {
    background: transparent;
    border-color: transparent;
}

.repaySelectButtonInactive:hover {
    background: var(--overlay);
}

.repaySelectButtonInactive:active {
    background: var(--overlay), var(--overlay);
}

.repaySelectButtonLeft {
    border-radius: 24px 0px 0px 0px;
    flex-grow: 1;
    padding: 18px 28px 38px 28px;
    height: 100%;
}

.repaySelectButtonRight {
    border-radius: 0px 24px 0px 0px;
    flex-grow: 1;
    padding: 18px 28px 38px 28px;
    height: 100%;
}

.errorModal {
    border-color: var(--placeholder-glass-stroke-error)
}

.contentWrapper {
    width: var(--modal-content-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    font-size: var(--font-size-h2);
    margin-bottom: 50px;
}

.headingRepayLoan {
    margin-bottom: 35px;
    font-size: var(--font-size-h3);
}

.subheading {
    font-size: var(--font-size-large);
    margin-top: -30px;
    margin-bottom: 50px;
}

.inputSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.inputSectionCollateral {
    margin-top: 20px;
}

.inputFieldWrapper {
    width: 100%;
    display: flex;
    gap: var(--input-field-wrapper-gap);
    margin-top: 8px;
    margin-bottom: 16px;
}

.inputField {
    background: var(--color-background);
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);
    font-size: var(--font-size-h4);
    height: var(--input-field-height);
}

.inputFieldAmount {
    flex-grow: 1;
    width: 100%;
}

.inputFieldSpendLimits {
    font-size: var(--font-size-large);
    height: calc(var(--input-field-height) * 0.85);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inputFieldCollateral {
    background: var(--color-background-light);
    display: flex;
    align-items: center;
    justify-content: start;
}

.addressCopyLabel {
    color: var(--color-text-light);
    font-size: var(--font-size-tiny);
    margin-left: 3px;
}

.addressCopyButton {
    width: 100%;
    height: var(--address-copy-button-height);

    margin-top: 8px;
    background: var(--color-background);
    padding: 0px 18px;
    border-radius: 14px;
    border: 1px solid var(--placeholder-glass-stroke);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addressCopyText {
    font-size: var(--font-size-small);
}

@media only screen and (max-width: 450px) {
    .addressCopyText {
        font-size: var(--font-size-tiny);
    }
}

.addressCopyButton:hover {
    background: 
        var(--overlay), 
        var(--color-background);
}

.addressCopyButton:active {
    background: 
        var(--overlay), 
        var(--overlay), 
        var(--color-background);
}

.centerContent {
    justify-content: center;
}

.infoWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoLeft {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 9px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 9px;
}

.balanceButton {
    padding: 8px 10px;
    font-size: var(--font-size-tiny);
}

.messageTextWrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -15px;
    text-align: left;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 25px;
    margin-top: 55px;
}

.singleButton {
    width: 50%;
}

.mainButton {
    width: 100%;
}

.errorHeading {
    color: var(--color-error);
    margin-bottom: 30px;
}

.errorButton {
    border-color: var(--placeholder-glass-icon-error);
}

.errorBodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-bottom: 50px;
    width: 100%;
}

.errorBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 6px;
}

.errorBody p {
    width: 100%;
    word-wrap: break-word;
}

@media only screen and (max-width: 428px) {
    .buttons {
        flex-direction: column;
    }

    .infoLeft {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .infoWrapper {
        align-items: flex-start;
    }

    .inputFieldWrapper {
        flex-direction: column;
        height: calc((var(--input-field-height) * 2) + var(--input-field-wrapper-gap));
    }
}

.closeRequirements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 60px;
}

.closeRequirements ul {
    list-style-type: disc;
    padding-left: 15px;
    text-align: left;
}

.closeHeading {
    margin-bottom: 27px;
    font-size: var(--font-size-h3);
}

.signupHeader {
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
}

.contentWrapperSignup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80VH;
    width: 85%;
    position: relative;
    padding: 0px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.scrollableContent {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 80px;
}

.fixedButtons {
    position: sticky;
    bottom: 0;
    background: var(--background-color);
    padding: 20px;
    border-top: 1px solid var(--border-color);
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--placeholder-glass-stroke);
    border-radius: 10px;
    background-color: var(--color-background);
    font-size: 14px;
    height: var(--signup-field-height);
}

.selectSpendLimits {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--placeholder-glass-stroke);
    border-radius: 10px;
    background-color: var(--color-background);
    font-size: var(--font-size-large);
    height: calc(var(--input-field-height) * 0.85);
}

.selectSpendLimits option {
    font-size: var(--font-size-p);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
}

.inputGroup label {
    margin-bottom: 6px;
}

.loadingSpinner {
    height: 75%;
    width: auto;
    aspect-ratio: 1;
    padding-left: 5px;
}