.accountWrapper {
    gap: var(--logo-margin);
}

.warning {
    font-size: var(--text-size-small);
    color: var(--color-text-light);
}

.warningWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
