.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    width: 90%;
}

.card {
    background: #F2F2F2;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.25);
    width: 100%;
    height: auto;
    aspect-ratio: 1536/969;
    border-radius: 3.51% / 5.57%;
    padding: 3.51%;
    position: relative;

    color: #0B111D;
    font-size: var(--font-size-card);
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 18px;
}

.visaLogo {
    position: absolute;
    top: 5.57%;
    right: 3.51%;
    width: 22.05%;
    height: auto;
}

.cardDetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}

.label {
    font-size: var(--font-size-small);
}

.cardButton {
    width: 100%;
    height: 50px;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    font-size: var(--font-size-h4);
}

.cardWrapper {
    width: 100%;
    height: 100%;
}

.kycPending {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.copyText {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.copyIconWrapper {
    position: relative;
}

.burstContainer {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
}

.copyIcon {
    opacity: 1;
}

.copyIconFadeIn {
    animation: fadeIn 0.15s ease-in forwards;
    animation-delay: 0.5s; /* Start fading in as burst animation is ending */
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.burstAnimation {
    position: absolute;
    opacity: 1;
}

.burstRing {
    transform-origin: center;
    animation: burstRing 0.5s ease-out forwards;
}

@keyframes burstRing {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}