.title {
    font-size: var(--font-size-h3);
}

.mainPanel {
    padding: 45px 0px;
}

.mainPanelContent {
    width: 90%;
    margin: 0 auto;
}

.assetsPanel {
    padding: 45px 0px;
    flex-grow: 0;
    width: var(--asset-panel-width);
}

.assetsPanelContent {
    width: var(--asset-panel-content-width);
    margin: 0 auto;
}

.notInitialized {
    font-size: var(--font-size-large);
    color: var(--color-text-extra-light);
}
