.balanceWrapper {
    width: 100%;
    margin-bottom: 70px;
}

.title {
    color: var(--color-text-light);
    font-size: 26px;
}

.fiatAmount {
    font-size: 60px;
    margin-right: 18px;
}

.subBalance {
    color: var(--color-text-light);
    font-size: 22px;
}

.buttons {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.buttons button {
    width: 100%;
}

.buttonsRow {
    width: 100%;
    display: flex;
    gap: 22px;
}

.mainBalance {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
