.heading {
    font-size: var(--text-size-h3);
    margin-bottom: 10px;
}

.subheading {
    margin-bottom: 15px;
    text-align: center;
}

.rentInfo {
    color: var(--color-text-light);
    font-size: var(--text-size-small);
    text-align: center;
    margin-bottom: 80px;
}

.checkboxes {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: var(--logo-margin);
}

.checkboxes li {
    margin-bottom: 30px;
}

.checkboxes li label {
    display: flex;
    align-items: flex-start;
}

.checkboxText {
    flex: 1;
}

.checkboxes li label input[type="checkbox"] {
    cursor: pointer;
    background: transparent;
    appearance: none;
    border: 1.5px solid var(--placeholder-glass-stroke);
    border-radius: 5px;

    height: 1.3rem;
    min-width: 1.3rem;
    margin-right: 0.6rem;
    margin-top: 0.12rem;
}

.checkboxes li label input[type="checkbox"]:checked {
    background-color: #354a5d;
}

.checkboxes li label input[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/checked.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.failMessage {
    margin-top: 10px;
}

.missingLabel {
    color: var(--color-error);
}

.mainButton {
    min-height: 55px;
    min-width: 175px;
}
