.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--nav-height);
    margin: var(--panel-padding);
    margin-bottom: 0px;
    padding: 0px var(--panel-padding);
}

.logoContainer {
    height: 100%;
    padding: 3px 0px;
}

.navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px 0px;
}

.notificationsButton {
    height: 100%;
    width: auto;
    padding: 5px 0px;
}

.loadingSpinner {
    height: 100%;
    width: 100%;
    padding: 5px 0px;
}