.popup {
    position: fixed;
    bottom: 50px;
    left: 100px;
    z-index: 9997;
    width: 235px;
    min-height: 100px;

    padding: 17px 20px;
    background-image: var(--glass-background);
    background-size: 17% auto, auto, auto, auto;
    backdrop-filter: blur(22px);
    border: var(--glass-border-popup);
    border-radius: 18px;
}

.popup.error {
    border: var(--glass-border-error);
    z-index: 9998;
}

button.popup:hover {
    background-image: 
        var(--overlay), 
        var(--glass-background) !important;
}

button.popup:active {
    background-image: 
        var(--overlay), 
        var(--overlay), 
        var(--glass-background) !important;
}

.message {
    color: var(--color-text-light);
    font-size: var(--text-size-tiny);
    width: 100%;
    text-align: left;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.headingError {
    color: var(--color-error);
}

.headingDetails {
    color: var(--color-text-light);
    font-size: var(--text-size-small);
    text-decoration: underline;
}
