.modalWrapper {
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.35);

  display: flex;
  justify-content: center;
  align-items: center;
}

.errorModalWrapper {
  z-index: 9999;
}

.modal {
  width: var(--modal-width);
  padding: 80px 0px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorModal {
  border-color: var(--placeholder-glass-stroke-error);
}
