.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--nav-height);
    margin: var(--panel-padding);
    margin-bottom: 0px;
    padding: 0px var(--panel-padding);

    position: relative;
    z-index: 10;
}

.logoContainer {
    height: 100%;
    padding: 3px 0px;
}

.navItems {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: var(--nav-items-gap);
    padding: 5px 0px;
}

.notificationsButton {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    padding: var(--notifications-button-padding);
    margin-right: -var(--notifications-button-padding);
    border-radius: 100%;
}

.notificationsButton:hover {
    background-color: var(--overlay-color-heavy);
}

.notificationsButton:active {
    background: var(--overlay-heavy), var(--overlay);
}

.loadingSpinner {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    padding: calc(var(--notifications-button-padding) + 1px) 0px;
}