.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gem {
    position: absolute;
    bottom: 0;
    height: 30VH;
    width: auto;
}

.imageLeft {
    left: 0;
    transform: translate(-50%, 0);
}

.imageRight {
    right: 0;
    transform: translate(50%, 0);
}