.balanceWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 70px;
}

.loanViewWrapper {
  margin-bottom: 45px;
}

.title {
  color: var(--color-text-light);
  font-size: var(--text-size-h4);
}

.loanViewWrapper .title {
  font-size: var(--text-size-large);
}

.fiatAmount {
  font-size: var(--text-size-h1);
  margin-right: 1.07rem;
}

.loanViewWrapper .fiatAmount {
  font-size: var(--text-size-h1);
}

.subBalance {
  color: var(--color-text-light);
  font-size: var(--text-size-large);
}

.loanViewWrapper .subBalance {
  font-size: var(--text-size-p);
}

.buttons {
  width: 100%;
  font-size: var(--text-size-large);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons button {
  width: 100%;
}

.buttonsRow {
  width: 100%;
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 428px) {
  .buttonsRow {
    flex-direction: column;
  }
}

.mainBalance {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.loadingBalance {
  display: flex;
  align-items: center;
}

.smallMargin {
  margin-right: 0.36rem;
}
